@tailwind base;
@tailwind components;
@tailwind utilities;

#toast-container > .toast-error {
    background: #fecaca; /* bg-red-300 */
    color: #dc2626;      /* text-red-600 */
    border: 1px solid #fca5a5;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    padding: 1rem 1.5rem;
    opacity: 1 !important;
}

#toast-container > .toast-error:before {
    content: none;
}

#toast-container > div {
    box-shadow: none;
}